page-login 
{
	.boton_recuperar
	{
	    font-weight: bold;
	    margin-bottom: 50px;
	}

}

.fondo
{
	background-color:  #24343E;
}

.fondo_modal
{
	background-color:  #24343E;
	border-color: #00A1E1;
	border-width: 5px;
	border-style: solid;
}

.login_img
{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 50%;
}

ion-input
{
	position: static;
    font-size: 20px;
    color:white;
    background-color: #24343E;
    border-radius: 5px;
}