<ion-content class="fondo">
	<ion-row>
		<ion-col col-1></ion-col>
		<ion-col col-10 text-center>
		    <img class="login_img" src="../../assets/imgs/ic_logo.png"/>
		</ion-col>
		<ion-col col-1></ion-col>
	</ion-row>
	<ion-row>
	<ion-col col-1 col-lg-3></ion-col>
    <ion-col col-10 col-lg-6>
      <ion-item class="fondo">
          <ion-icon name="person" 
                    item-start 
                    color="blanco"></ion-icon>
          <ion-input placeholder="Usuario"
                     [(ngModel)]="usuario"></ion-input>
      </ion-item>
      <ion-item class="fondo">
          <ion-icon name="information-circle" 
                    item-start 
                    color="blanco"></ion-icon>
          <ion-input placeholder="Contraseña" 
                     type="password" 
                     [(ngModel)]="password"></ion-input>
      </ion-item>
      <button ion-button 
              block 
              small 
              clear 
              color="primario" 
              class="boton_recuperar" 
              (click)="recuperarPass()">Recuperar Contraseña</button>
      <button ion-button 
              block 
              round 
              color="primario" 
              (click)="login()">Iniciar Sesión</button>
    </ion-col>
    <ion-col col-1 col-lg-3></ion-col>
  </ion-row>
</ion-content>
