<ion-header>
	<ion-navbar color="primario">
		<ion-title>{{accion}} EMPRESA</ion-title>
	</ion-navbar>
</ion-header>
<ion-content class="fondo">	
	<ion-item color="fondo">
		<ion-label floating class="negrita">NOMBRE DE LA EMPRESA</ion-label>
		<ion-input type="text" [(ngModel)]="empresa.empresa"></ion-input>
	</ion-item>	

	<ion-card *ngIf="empresa.logo" color="fondo">
	  <img [src]="empresa.logo" >
	  <ion-card-content>
	    <ion-card-title>
	      LOGOTIPO DE LA EMPRESA
        </ion-card-title>
	  </ion-card-content>
	</ion-card>
	<ion-card *ngIf="empresa.logo64" color="fondo">
	  <img [src]="empresa.logo64" >
	  <ion-card-content>
	    <ion-card-title>
	      LOGOTIPO DE LA EMPRESA
        </ion-card-title>
	  </ion-card-content>
	</ion-card>

	<ion-grid>
		<ion-row>
			<ion-col>
				<button ion-button item-left block color="dark" (click)=seleccionarImagen()>
					<ion-icon name="photos"></ion-icon>
					&nbsp;SELECCIONAR LOGOTIPO
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ion-footer color="fondo">
	<ion-toolbar color="fondo">
		<ion-row color="fondo">
			<button  *ngIf="alta" ion-button block color="primario" 
				(click)="agregarEmpresa()">
				AGREGAR EMPRESA
			</button>
			<button  *ngIf="!alta" ion-button block color="primario" 
				(click)="actualizarEmpresa()">
				ACTUALIZAR EMPRESA
			</button>
		</ion-row>
	</ion-toolbar>
</ion-footer>
