<ion-header>
	<ion-navbar color="primario">
		<ion-title>EMPRESA - SERVICIO</ion-title>
	</ion-navbar>
	<ion-segment [(ngModel)]="categoria" class="fondo" scrollable>
			<ion-segment-button value="activas">
				<label class="tabNegrita">Activos</label>
			</ion-segment-button>
			<ion-segment-button value="inactivas" class="tabNegrita">
				<label class="tabNegrita">Inactivos</label>
			</ion-segment-button>
		</ion-segment>
</ion-header>
<ion-content class="fondo">	
	<div [ngSwitch]="categoria" swipeSegment (tabChanged)="onTabChanged($event)" class="swipe-area">
		<div *ngSwitchCase="'activas'">
			<ion-list>
				<ion-item-sliding *ngFor="let item of lista; let i=index;">
					<ion-item *ngIf="item.estatus==1" color="fondo">						
						<ion-avatar item-start>
							 <img [src]="item.logo" >			
						</ion-avatar>
						<h2>EMPRESA: {{item.empresa}}</h2>
						<h3>SERVICIO: {{item.servicio}}</h3>
					</ion-item>
					<ion-item-options side="right">
						<button ion-button (click)="desactivarEmpresaServicio(item.id_empresa_servicio)">
							<ion-icon name="trash" style="zoom:2.0" color="danger"></ion-icon>
						</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>
		</div>
		<div *ngSwitchCase="'inactivas'">
			<ion-list>
				<ion-item-sliding *ngFor="let item of lista; let i=index;">
					<ion-item *ngIf="item.estatus==0" color="fondo">
						<ion-avatar item-start>
							 <img [src]="item.logo" >			
						</ion-avatar>
						<h2>EMPRESA: {{item.empresa}}</h2>
						<h3>SERVICIO: {{item.servicio}}</h3>
					</ion-item>
					<ion-item-options side="right">
						<button ion-button (click)="activarEmpresaServicio(item.id_empresa_servicio)">
							<ion-icon name="checkmark" style="zoom:2.0" color="secondary"></ion-icon>
						</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>
		</div>
	</div>	
	<ion-fab right bottom (click)="formularioEmpresaServicio()">
		<button ion-fab color="primario"><ion-icon name="add"></ion-icon></button>
	</ion-fab>
</ion-content>

