<ion-header>
	<ion-navbar color="fondo">
		<ion-title>{{ empresa.empresa }}</ion-title>
		<ion-buttons start>
			<button ion-button (click)="cerrar()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="fondo" padding>
	<ion-list color="fondo">
		<button ion-item *ngFor="let servicio of empresa.servicios" color="fondo" (click)="venta(servicio.id_empresa_servicio, servicio.servicio)">
			<ion-avatar item-start>
				<img [src]="empresa.logo">
			</ion-avatar>
			<h2>{{ servicio.servicio }}</h2>
		</button>
	</ion-list>
</ion-content>
