<ion-header>
	<ion-navbar color="primario">
		<ion-title>{{accion}} SERVICIO</ion-title>
	</ion-navbar>
</ion-header>
<ion-content class="fondo">	
	<ion-item color="fondo">
		<ion-label floating class="negrita">NOMBRE DEL SERVICIO</ion-label>
		<ion-input type="text" [(ngModel)]="servicio.servicio"></ion-input>
	</ion-item>	
</ion-content>

<ion-footer color="fondo">
	<ion-toolbar color="fondo">
		<ion-row color="fondo">
			<button  *ngIf="alta" ion-button block color="primario" 
				(click)="agregarServicio()">
				AGREGAR SERVICIO
			</button>
			<button  *ngIf="!alta" ion-button block color="primario" 
				(click)="actualizarServicio()">
				ACTUALIZAR SERVICIO
			</button>
		</ion-row>
	</ion-toolbar>
</ion-footer>
