<ion-header>
	<ion-navbar color="primario">
		<ion-title>AGREGAR EMPRESA - SERVICIO</ion-title>
	</ion-navbar>
</ion-header>
<ion-content class="fondo">	
	<ion-item color="fondo">
		<ion-label floating class="negrita">SELECCIONAR EMPRESA</ion-label>
		<ion-select cancelText="CANCELAR"  
		            [(ngModel)]="id_empresa" 
		            color="primary" 
		            interface="action-sheet" 
		            (ionChange)="consultarCatalogoServicios(id_empresa)"
		            (ionCancel)="limpiarSeleccion('id_empresa')">
			<ion-option *ngFor="let empresa of catEmpresas" value="{{empresa.id}}">	
				{{empresa?.empresa?.toUpperCase()}}
			</ion-option>
		</ion-select>
	</ion-item>
	<ion-item *ngIf="id_empresa!=0" color="fondo">
		<ion-label floating class="negrita">SELECCIONAR SERVICIO</ion-label>
		<ion-select cancelText="CANCELAR"  
		            [(ngModel)]="id_servicio" 
		            color="primary" 
		            interface="action-sheet" 
		            (ionCancel)="limpiarSeleccion('id_servicio')">
			<ion-option *ngFor="let servicio of catServicio" value="{{servicio.id}}">	
				{{servicio?.servicio?.toUpperCase()}}
			</ion-option>
		</ion-select>
	</ion-item>
</ion-content>

<ion-footer color="fondo">
	<ion-toolbar color="fondo">
		<ion-row color="fondo">
			<button *ngIf="id_empresa!=0 && id_servicio!=0" ion-button block color="primario" 
				(click)="agregarEmpresaServicio()">
				AGREGAR REGISTRO
			</button>
		</ion-row>
	</ion-toolbar>
</ion-footer>
