<ion-header>
	<ion-navbar color="primario">
		<ion-title>SERVICIOS</ion-title>
	</ion-navbar>
	<ion-segment [(ngModel)]="categoria" class="fondo" scrollable>
			<ion-segment-button value="activas">
				<label class="tabNegrita">Activos</label>
			</ion-segment-button>
			<ion-segment-button value="inactivas" class="tabNegrita">
				<label class="tabNegrita">Inactivos</label>
			</ion-segment-button>
		</ion-segment>
</ion-header>
<ion-content class="fondo">	
	<div [ngSwitch]="categoria" swipeSegment (tabChanged)="onTabChanged($event)" class="swipe-area">
		<div *ngSwitchCase="'activas'">
			<ion-list>
				<ion-item-sliding *ngFor="let item of lista; let i=index;">
					<ion-item *ngIf="item.estatus==1" color="fondo" 
						(click)="formularioServicios(false,item)">
						<ion-avatar item-start>
							<ion-icon name="remove" style="zoom:2.0" ></ion-icon>
						</ion-avatar>
						<h2>SERVICIO: {{item.servicio}}</h2>
						
					</ion-item>
					<ion-item-options side="right">
						<button ion-button (click)="desactivarServicio(item.id)">
							<ion-icon name="trash" style="zoom:2.0" color="danger"></ion-icon>
						</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>
		</div>
		<div *ngSwitchCase="'inactivas'">
			<ion-list>
				<ion-item-sliding *ngFor="let item of lista; let i=index;">
					<ion-item *ngIf="item.estatus==0" color="fondo" 
						(click)="formularioServicios(false,item)">
						<ion-avatar item-start>
							<ion-icon name="remove" style="zoom:2.0" ></ion-icon>
						</ion-avatar>
						<h2>SERVICIO: {{item.servicio}}</h2>
					</ion-item>
					<ion-item-options side="right">
						<button ion-button (click)="activarServicio(item.id)">
							<ion-icon name="checkmark" style="zoom:2.0" color="secondary"></ion-icon>
						</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>
		</div>
	</div>	
	<ion-fab right bottom (click)="formularioServicios(true,null)">
			<button ion-fab color="primario"><ion-icon name="add"></ion-icon></button>
		</ion-fab>
</ion-content>

