<ion-header>
  <ion-navbar color="primario">
    <ion-title text-center>
      <img  class="img_navbar"src="../../assets/imgs/ic_logo.png"/>
    </ion-title>
    <ion-buttons end>
		<button ion-button (click)="cambiarPass()">
			<ion-icon name="cog" style="zoom:1.5"></ion-icon>
		</button>	
	</ion-buttons>
  </ion-navbar>
	<ion-segment [(ngModel)]="categoria" class="fondo" (ionChange)="onTabChanged($event)" scrollable>
		<ion-segment-button value="recargas">
			<label class="tabNegrita">Recargas</label>
		</ion-segment-button>
		<ion-segment-button value="recaudacion" class="tabNegrita">
			<label class="tabNegrita">Recaudación</label>
		</ion-segment-button>
		<ion-segment-button value="administracion" class="tabNegrita" *ngIf="usuario.id_rol == 2">
			<label class="tabNegrita">Administración</label>
		</ion-segment-button>
	</ion-segment>
</ion-header>
<ion-content class="fondo">
	<div [ngSwitch]="categoria" swipeSegment class="swipe-area">
		<div *ngSwitchCase="'recargas'">
			<div *ngFor="let empresa of empresasServicios">
					<ion-row>
						<ion-col col-6 text-left><ion-label color="blanco">{{ empresa.empresa }}</ion-label></ion-col>
						<ion-col col-6 text-right>
							<button ion-button 
						              small 
						              clear 
						              color="blanco" 
						              class="boton_recuperar" 
						              (click)="verMas(empresa)">Ver Mas</button>
						</ion-col>
					</ion-row>
				<ion-row text-center>
					<ion-col col-4 col-md-2 col-lg-2 col-xs-4 *ngFor="let servicio of empresa.servicios" text-center>
							<img [src] = "empresa.logo" class="circle-pic" (click)="venta(servicio.id_empresa_servicio, empresa.logo, servicio.servicio)"/>
						<ion-label color="blanco">{{servicio.servicio}}</ion-label>
					</ion-col>
				</ion-row>
			</div>
		</div>
		<div *ngSwitchCase="'recaudacion'">
			<ion-searchbar (ionInput)="getItems($event)" placeholder="Número Ticket"></ion-searchbar>
			<ion-scroll style="width:100%;height:100vh" scrollY="true">
				<ion-list>
					<ion-item *ngFor="let venta of ventas" color="fondo">
						<ion-avatar item-start>
							<img [src]="venta.logo">
						</ion-avatar>
						<h2>Ticket - {{ venta.id }}</h2>
						<h2>{{ venta.empresa }} - {{ venta.servicio }}</h2>
						<h3>{{ venta.fecha }} - {{ venta.hora }}</h3>
						<p>{{ venta.nombre }}</p>
						<h2 item-end>{{ venta.importe }}</h2>
					</ion-item>
				</ion-list>
			</ion-scroll>
		</div>
		<div *ngSwitchCase="'administracion'" padding>
			<br><br>
			<button ion-button (click)="listarUsuarios()" 
		            block 
		            round
		            large
		            color="primario">USUARIOS
	        </button><br><br>		
		    <button ion-button (click)="listarEmpresas()" 
		            block 
		            round
		            large
		            color="primario">EMPRESAS
	        </button><br><br>
		    <button ion-button (click)="listarServicios()" 
		            block 
		            round
		            large
		            color="primario">SERVICIOS
	        </button><br><br>
		    <button ion-button (click)="agregarEmpresasServicios()" 
		            block 
		            round
		            large
		            color="primario">EMPRESAS - SERVICIOS
	        </button>
		</div>
	</div>
</ion-content>

<ion-footer >
  <ion-toolbar color="primario">
    <button ion-button 
              block 
              small
              clear
              color="light" 
              (click)="cerrarSesion()">Cerrar Sesión</button>
  </ion-toolbar>
</ion-footer>
