page-home {
	.img_navbar
	{
		width: 10%;
	}

	.tabNegrita
	{
		font-weight: bold;
		color: white;
	}

	.swipe-area 
	{
   		height:100%;
    	width:100%;
  	}

  	.scroll-content
  	{
	    margin-bottom: 50px !important;
	    padding-bottom: 0px !important;
	}

	.circle-pic{
	    width:100px;
	    height:100px;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	}
}
