<ion-header>
	<ion-navbar color="primario">
		<ion-title>USUARIOS</ion-title>
	</ion-navbar>
	<ion-segment [(ngModel)]="categoria" class="fondo" scrollable>
			<ion-segment-button value="activos">
				<label class="tabNegrita">Activos</label>
			</ion-segment-button>
			<ion-segment-button value="inactivos" class="tabNegrita">
				<label class="tabNegrita">Inactivos</label>
			</ion-segment-button>
		</ion-segment>
</ion-header>
<ion-content class="fondo">	
	<div [ngSwitch]="categoria" swipeSegment (tabChanged)="onTabChanged($event)" class="swipe-area">
		<div *ngSwitchCase="'activos'">
			<ion-list>
				<ion-item-sliding *ngFor="let usuario of usuarios; let i=index;">
					<ion-item *ngIf="usuario.estatus==1" color="fondo" 
						(click)="formularioUsuario(false,usuario)">
						<ion-avatar item-start>
							<ion-icon name="person" style="zoom:2.0" ></ion-icon>
						</ion-avatar>
						<h2>{{usuario.usuario}}</h2>
						
					</ion-item>
					<ion-item-options side="right">
						<button ion-button (click)="desactivarusuario(usuario.id)">
							<ion-icon name="trash" style="zoom:2.0" color="danger"></ion-icon>
						</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>
		</div>
		<div *ngSwitchCase="'inactivos'">
			<ion-list>
				<ion-item-sliding *ngFor="let usuario of usuarios; let i=index;">
					<ion-item *ngIf="usuario.estatus==0" color="fondo" 
						(click)="formularioUsuario(false,usuario)">
						<ion-avatar item-start>
							<ion-icon name="person" style="zoom:2.0" ></ion-icon>
						</ion-avatar>
						<h2>{{usuario.usuario}}</h2>
					</ion-item>
					<ion-item-options side="right">
						<button ion-button (click)="activarusuario(usuario.id)">
							<ion-icon name="checkmark" style="zoom:2.0" color="secondary"></ion-icon>
						</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>
		</div>
	</div>	
	<ion-fab right bottom (click)="formularioUsuario(true,null)">
			<button ion-fab color="primario"><ion-icon name="add"></ion-icon></button>
		</ion-fab>
</ion-content>

