<ion-header>
  <ion-navbar color="fondo">
    <ion-title>{{ servicio }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fondo" padding>
	<ion-row>
		<ion-col col-1></ion-col>
		<ion-col col-10 text-center>
		    <img [src]="logo" class="img_venta"/>
		</ion-col>
		<ion-col col-1></ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-1 col-lg-3 col-md-3></ion-col>
		<ion-col col-10 col-lg-6 col-md-3>
	      <ion-item class="fondo">
	          <ion-icon name="phone-portrait" 
	                    item-start 
	                    color="blanco"></ion-icon>
	          <ion-input placeholder="Número"
	          			 type="number"
	                     [(ngModel)]="numero"></ion-input>
	      </ion-item>
	      <ion-item class="fondo">
	          <ion-icon name="cash" 
	                    item-start 
	                    color="blanco"></ion-icon>
	          <ion-input placeholder="Importe" 
	                     type="number" 
	                     [(ngModel)]="importe"></ion-input>
	      </ion-item>
	      <div text-center>
	      	<ion-label class="nota" color="light">VENTA DE 3.0 A 100.00 CON INCREMENTO DE 1.0</ion-label>
	      </div>
	      <button ion-button 
	              block 
	              round 
	              color="primario"
	              class="boton_continuar" 
	              (click)="detalleVenta()">Continuar</button>
	    </ion-col>
	    <ion-col col-1 col-lg-3 col-md-3></ion-col>
	</ion-row>
</ion-content>
