<ion-header>
	<ion-navbar color="fondo">
		<ion-title>Recuperar Contraseña</ion-title>
		<ion-buttons start>
			<button ion-button (click)="cerrar()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding class="fondo">
	<ion-row>
		<ion-col col-1></ion-col>
		<ion-col col-10 text-center>
		    <img class="login_img" src="../../assets/imgs/ic_logo.png"/>
		</ion-col>
		<ion-col col-1></ion-col>
	</ion-row>
	<ion-row>
	<ion-col col-lg-3></ion-col>
    <ion-col col-12 col-lg-6>
      <ion-item class="fondo">
          <ion-icon name="person" 
                    item-start 
                    color="blanco"></ion-icon>
          <ion-input placeholder="Usuario"
                     [(ngModel)]="usuario"></ion-input>
      </ion-item>
      <ion-item class="fondo">
          <ion-icon name="mail" 
                    item-start 
                    color="blanco"></ion-icon>
          <ion-input placeholder="Correo"  
                     [(ngModel)]="correo"></ion-input>
      </ion-item>

      <button ion-button 
              block 
              round 
              color="primario" 
              (click)="recuperarPass()"
              class="boton_recuperar">Recuperar Contraseña</button>
    </ion-col>
    <ion-col col-lg-3></ion-col>
  </ion-row>

</ion-content>
