<ion-header>
	<ion-navbar color="primario">
		<ion-title>{{accion}}} USUARIO</ion-title>
	</ion-navbar>
</ion-header>
<ion-content class="fondo">	
	<ion-item color="fondo">
		<ion-label floating class="negrita">NOMBRE</ion-label>
		<ion-input type="text" [(ngModel)]="usuario.nombre"></ion-input>
	</ion-item>
	<ion-item color="fondo">
		<ion-label floating class="negrita">APELLIDO PATERNO</ion-label>
		<ion-input type="text" [(ngModel)]="usuario.paterno"></ion-input>
	</ion-item>
	<ion-item color="fondo">
		<ion-label floating class="negrita">APELLIDO MATERNO</ion-label>
		<ion-input type="text" [(ngModel)]="usuario.materno"></ion-input>
	</ion-item>
	<ion-item color="fondo">
		<ion-label floating class="negrita">USUARIO</ion-label>
		<ion-input type="text" [(ngModel)]="usuario.usuario"></ion-input>
	</ion-item>
	<ion-item color="fondo">
		<ion-label floating class="negrita">CORREO ELECTRÓNICO</ion-label>
		<ion-input type="text" [(ngModel)]="usuario.correo"></ion-input>
	</ion-item>
	<ion-item color="fondo">
		<ion-label floating class="negrita">ROLE</ion-label>
		<ion-select cancelText="CANCELAR"  
		            [(ngModel)]="usuario.id_rol" 
		            color="primary" 
		            interface="action-sheet" 
		            (ionCancel)="limpiarSeleccion('id_rol')">
		<ion-option *ngFor="let role of catRoles" value="{{role.id}}">	
			{{role?.rol?.toUpperCase()}}
		</ion-option>
	</ion-select>
	</ion-item>
	
</ion-content>

<ion-footer color="fondo">
	<ion-toolbar color="fondo">
		<ion-row color="fondo">
			<button  *ngIf="alta" ion-button block color="primario" 
				(click)="agregarUsuario()">
				AGREGAR USUARIO
			</button>
			<button  *ngIf="!alta" ion-button block color="primario" 
				(click)="actualizarUsuario()">
				ACTUALIZAR USUARIO
			</button>
		</ion-row>
	</ion-toolbar>
</ion-footer>
