
<ion-content class="fondo_modal">
<div *ngIf="modal_detalle">
	<ion-row>
		<ion-col col-6 text-left>
			<ion-label color="blanco">
				<ion-icon name="calendar" color="blanco"></ion-icon>
				{{ fecha }}
			</ion-label>
		</ion-col>
		<ion-col col-6 text-right>
			<ion-label color="blanco">
				<ion-icon name="time" color="blanco"></ion-icon>
				{{ hora }}
			</ion-label>
		</ion-col>
	</ion-row>
	<div text-center>
		<ion-label color="blanco">Se Realizará una Recarga</ion-label>
		<img [src]="logo" class="img_detalle"/>
		<ion-label color="blanco">Número Telefónico</ion-label>
		<ion-label color="blanco">{{ numero }}</ion-label>
		<ion-label color="blanco">Monto a Recargar</ion-label>
		<ion-label color="blanco">{{ importe }}</ion-label>
		<ion-label color="blanco">Haga su pago oportuno en la sucursal referida</ion-label>
	</div>
	<ion-row>
		<ion-col col-6 text-center>
			<button ion-button 
		              round 
		              small
		              color="primario"
		              class="boton_continuar" 
		              (click)="cancelar()">Cancelar</button>
		</ion-col>
		<ion-col col-6 text-center>
			<button ion-button 
		              round 
		              small
		              color="primario"
		              class="boton_continuar" 
		              (click)="aceptar()">Aceptar</button>
		</ion-col>
	</ion-row>
</div>
<div *ngIf="!modal_detalle">
	<div text-center>
		<ion-label color="blanco">La recarga se ha realizado con exito.</ion-label>
		<ion-label color="blanco">Ticket: {{ ticket }}</ion-label>
		<img src="../../assets/imgs/ic_done.png" class="img_done"/><br>
		<button ion-button 
		              round 
		              small
		              color="primario"
		              class="boton_continuar" 
		              (click)="finalizarRecarga()">Aceptar</button>
	</div>
</div>
</ion-content>
