<ion-header>
	<ion-navbar color="fondo">
		<ion-title>Cambiar Contraseña</ion-title>
		<ion-buttons start>
			<button ion-button (click)="cerrar()" *ngIf="!reset">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="fondo" padding>
	<ion-list>
		<ion-item class="fondo">
        	<ion-input placeholder="Contraseña Nueva"
        			   type="password"
                       [(ngModel)]="pass1">
            </ion-input>
        </ion-item>
        <ion-item class="fondo">
        	<ion-input placeholder="Confirmar Contraseña"
        	           type="password"
                       [(ngModel)]="pass2">
            </ion-input>
        </ion-item>
	</ion-list>
</ion-content>
<ion-footer >
  <ion-toolbar color="primario">
    <button ion-button 
              block 
              small
              clear
              color="light" 
              (click)="cambiarPass()">Cambiar Contraseña</button>
  </ion-toolbar>
</ion-footer>
